::selection {
    background-color: rgb(18, 138, 206);
}

.container {
    margin-top : 25px;
    text-align : center;
    font-size  : 1.1em;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    border       : 2px solid gray;
    border-radius: 5px;
    display      : inline-block;
    padding      : 1rem;
}

.title {
    font-size     : large;
    font-weight   : bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.city,
.date,
.temperature,
.weather,
.max-min,
.search_label {
    padding-bottom: 0.3rem;
}

.main_temperature {
    background-color: rgb(18, 138, 206, 0.5);
    box-shadow      : 4px 5px rgba(0, 0, 0, 0.6);
    cursor          : pointer;
    font-size       : 5rem;
    font-weight     : 900;
    text-shadow     : 2px 5px rgba(0, 0, 0, 0.2);
}

.temperature {
    display: inline;
}

.weather {
    padding-top: 1rem;
}

.search_label {
    display  : block;
    font-size: 0.9em;
}

.search_country {
    border-radius: 3px;
    cursor       : pointer;
    font-family  : inherit;
}

.search_country,
.search_input:focus {
    box-shadow: 0 0 0 0;
    outline   : 0;
}

.search_input {
    border       : 1px solid gray;
    border-radius: 7px;
    cursor       : pointer;
    font-family  : inherit;
}

.search_button {
    background-color: transparent;
    border          : 1px solid gray;
    border-radius   : 3px;
    cursor          : pointer;
}